---
import Skill from "../components/Skill.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
  <div class="main-content">
    <div class="left-column">
      <div class="pink-backdrop"></div>
    </div>

    <div class="right-column">
      <div class="green-backdrop"></div>
      <p>
        I've spent the last few years working as a Front end Developer, building
        websites and products that are intuitive, accessible, and enjoyable to
        use. What I enjoy most is bringing designs to life and thinking about
        the people on the other side of the screen. Accessibility is something I
        care deeply about, and I try to consider it throughout the development
        process rather than treating it as an afterthought. I'm also interested
        in the bigger picture of a product: how it supports user needs, how it
        reflects the product I'm building.
      </p>
    </div>
  </div>

  <style>
    .main-content {
      display: flex;
      flex-direction: row;
      height: calc(100vh - 50px);
    }

    .green-backdrop {
      position: absolute;
      top: 10;
      right: 0;
      width: 60%;
      height: 90%;
      background-color: #cdd4b1;
      border-radius: 50px 0 0 50px;
      z-index: -4;
    }

    .pink-backdrop {
      position: absolute;
      top: 10;
      left: 0;
      width: 45%;
      height: 70%;
      background-color: #c18f8b;
      border-radius: 0 50px 50px 0;
      z-index: -2;
    }

    .left-column {
      display: flex;
      flex: 1;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }

    .right-column {
      display: flex;
      flex: 1;
      flex-direction: column;
      text-align: center;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }

    @media (max-width: 450px) {
      .main-content {
        flex-direction: column-reverse;
        height: auto;
      }

      .left-column,
      .right-column {
        flex: none;
        width: 100%;
      }
      .left-column {
        margin-bottom: 2rem;
        margin-top: 2rem;
      }
      .skill {
        min-width: 100%;
      }
    }
  </style>
</Layout>
