---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact Me">
  <Nav />
  <p>
    Thanks so much for stopping by, should you wish to reach our please feel
    free to fill out the form below, or reach out to me via email or LinkedIn.
  </p>
</Layout>
