---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact-Me">

  <div class="contact">
    <h1 class="heading">Let's have a chat</h1>

    <h3 class="cta">How can I help you?</h3>

    <p class="main-content">I'm always open to having a conversation. Feel free to reach out if you think there is something I could help you with. Whether that be a project, role or you just want to speak my inbox is always free.</p>


    <a class="email-btn" href="mailto:test@test.com">Click to Mail</a>

    <a class="download-btn" href="tel:+447900000000">Change to a download</a>
  </div>
</Layout>

<style>

  .contact {
    background-color: #2A2218;
    position: relative;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: 0 auto;
  }

  .heading {
    text-align: left;
    font-size: 1.2rem;
    color: #DCA278;
    text-decoration: underline;
    font-weight: 400;
  }

  .cta {
    text-align: left;
    font-size: 2rem;
    color: #FFF9E2;
  }

  .main-content {
    color: #B09870;
  }

  .email-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DCA278;
    color: #2A2218;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 20px;
  }

  .download-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DCA278;
    text-decoration: none;
    border-radius: 8px;
    color: #2A2218;
  }
</style>
