---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CV">
  <Nav />
  <h1>CV</h1>
  <p>
    Below you will find me CV. I will try my best to keep it up to date however
    should you wish to get an up to date version I would encourage you to reach
    out to me on linkedIn or my email.
  </p>
</Layout>
