---
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <Nav />
  <p>
    Hello, my name is Amy, I've been working as a Front end Software Engineer
    for the past three years.
  </p>
</Layout>
