---
import { Image } from "astro:assets";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import amyImage from "../assets/amy-without-background.png";
import About from "./about.astro";
---

<Layout title="Home">
  <Nav class="nav" />
  <div class="main-content">
    <div class="green-ball"></div>
    <div class="left-column">
      <p class="job-title">- Front End Software Engineer</p>
      <h1 class="main-title">I build applications for all users</h1>
      <a href="#portfolio" class="portfolio-button">View My Work</a>
      <div class="grey-ball"></div>
    </div>
    <div class="right-column">
      <Image
        src={amyImage}
        alt="An image of Amy Greene"
        width="500"
        height="550"
      />
    </div>
  </div>

  <About />

  <style>
    .main-content {
      height: 90vh;
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }

    .nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
    }

    .left-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: center;
      align-items: flex-start;
      height: 100%;
      padding-left: 50px;
    }

    .main-content {
      position: relative;
      z-index: 0;
    }

    .green-ball {
      width: 300px;
      height: 300px;
      background-color: #cdd4b1;
      border-radius: 50%;
      position: absolute;
      top: -80px;
      right: -50px;
      z-index: -1;
    }

    .grey-ball {
      width: 200px;
      height: 200px;
      background-color: #d5bb95;
      border-radius: 50%;
      position: absolute;
      top: 500px;
      left: 200px;
      z-index: -1;
    }

    .job-title {
      font-size: 1rem;
      color: #dca278;
    }

    .main-title {
      font-size: 2.5rem;
      color: #2a2218;
      font-weight: 400;
      font-family: var(--font-instrument-serif), serif;
    }

    .portfolio-button {
      background-color: #2a2218;
      color: #fff9e2;
      border: none;
      padding: 12px 24px;
      font-size: 1rem;
      cursor: pointer;
      border-radius: 4px;
      transition: background-color 0.2s ease-in-out;
      border-radius: 32px;
      text-decoration: none;
    }

    .portfolio-button:hover {
      background-color: #dca278;
      color: #2e2118;
    }

    Image {
      flex: 1;
      justify-content: center;
      align-items: center;
    }

    .right-column {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  </style>
</Layout>
