---
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import dogImage from "../assets/dog.jpg";
---

<Layout title="Portfolio">
  <h1 class="portfolio-heading">Favourite Works</h1>
  <h3 class="portfolio-cta">Projects I'm Proud of</h3>

  <p class="portfolio-summary">
    Below is a few passion projects I've worked on. They are mostly me tinkering
    with new and existing technology and seeing how it works. Take this website
    for example. I was curious how astro works so I thought it would be a fun
    experiment to build my portfolio with it. I try doing the same with some of
    the projects I've built below.
  </p>

  <Card
    image={dogImage}
    alt="terrier running through the grass"
    title="Dog of the Day"
  />

  <style>
    .portfolio-heading {
      text-align: left;
      font-size: 1.2rem;
      color: #DCA278;
      font-weight: 400;
      padding: 0 1rem;
    }
    .portfolio-cta {
      font-family: var(--font-instrument-serif), serif;
      font-size: 2rem;
      font-weight: 400;
      padding: 0 1rem;

    }
    .portfolio-summary {
      font-size: 1.2rem;
      text-align: justify;
      padding: 0 1rem;
    }
  </style>
</Layout>
