---
import Card from "../components/Card.astro";
import Nav from "../components/Nav.astro";
import Layout from "../layouts/Layout.astro";
import dogImage from "../assets/dog.jpg";
---

<Layout title="Portfolio">
  <Nav />
  <h1>My Portfolio</h1>

  <p>
    Below is a few passion projects I've worked on. They are mostly me tinkering
    with new and existing technology and seeing how it works. Take this website
    for example. I was curious how astro works so I thought it would be a fun
    experiment to build my portfolio with it. I try doing the same with some of
    the projects I've built below.
  </p>

  <Card
    image={dogImage}
    alt="terrier running through the grass"
    title="Dog of the Day"
  />
</Layout>
