---
import { Icon } from "astro-icon/components";
---

<div class="card">
  <img src={Astro.props.image} alt={Astro.props.title} />
  <h2>{Astro.props.title}</h2>
  <slot />
  <Icon name={"proicons:chevron-right"} class="icon" />
</div>

<style>
  .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    max-height: 400px;
  }

  .card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
  }

  .icon {
    margin-right: auto;
  }
</style>
