---
import { Icon } from "astro-icon/components";

const { image, title } = Astro.props;
const imageSrc = typeof image === "string" ? image : image?.src;
---

<div class="card">
  <img src={imageSrc} alt={title} />
  <h2>{title}</h2>
  <slot />
  <div class="icon-wrapper">
    <Icon name={"proicons:chevron-right"} class="icon" />
  </div>
</div>

<style>
  .card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    max-height: 400px;
  }

  .card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }

  .icon-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
  }

  .icon {
    margin-left: auto;
  }
</style>
