---

---

<div class="nav-wrapper">
  <h1>Amy Greene</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/cv">CV</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contact">Contact Me</a>
  </nav>
</div>

<style>
  .nav-wrapper {
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size: large;
    padding-left: 12px;
    font-family: var(--font-instrument-serif), serif;
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: #000;
    padding: 12px;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
