---

---

<div class="nav-wrapper">
  <h1>Amy Greene</h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/cv">CV</a>
    <a href="/portfolio">Portfolio</a>
    <a href="/contact">Contact Me</a>
  </nav>
</div>

<style>
  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #fff9e2;
    position: sticky;
    top: 0;
    z-index: 20;
  }
  h1 {
    font-size: large;
    padding-left: 50px;
    font-family: var(--font-instrument-serif), serif;
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: #5c4a30;
    padding: 12px;
  }
  a:hover {
    background-color: #dca278;
    color: #fff9e2;
    border-radius: 32px;
    text-decoration: underline;
  }
  @media (max-width: 450px) {
    /* … */
  }
</style>
